.horizontal-line {
    display: flex;
    align-items: center ;
    text-align: center ;
  }

  .horizontal-line:not(:empty)::before {
    margin-right: 0.25em;
  }

  .horizontal-line:not(:empty)::after {
    margin-left: 0.25em;
  }

  .horizontal-line::after,
  .horizontal-line::before {
    content: "" ;
    border-top: 2px dotted black;
    flex: 1;
  }